* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

:root {
    --primary: #27272a;
    --secondary: #71717a;
    --bglight: #e4e4e7;
}

a {
    text-decoration: none;
    color: var(--primary)
}

a:hover{
    text-decoration: underline;
    color: var(--primary)
}
.nav {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: fit-content;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid var(--primary);
}
.mobileNav {
    display: none;
    flex-direction: column;
    width: 100vw;
}
.mobileMenu {
    display: none;
    background-image: url("./menu.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.mobileMenu ul, li {
    margin: 1rem 0 1rem 0;
}
.header {
    width: 300px;
}
.header img {
    width: 100%;
}
.links {
    display: flex;
    flex-direction: row;
}
.links a {
    margin-right: 1rem;
}
.announcements {
    width: 100vw;
    height: 25px;
    background-color: var(--primary);
    color: #FFF;
    text-align: center;
    padding: .1rem;
}
.announcements a{
    color: #FFF;
}
.content {
    min-height: 70vh;
    width: 100vw;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.intro {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.h1 {
    color: var(--primary);
    font-weight: bold;
    font-size: 24px;
}
.intro p {
    line-height: 1.5rem;
    font-weight: 300;
    font-size: 14px;
    margin: 1rem 0 2rem 0;
}
.emailList {
    display: flex;
    flex-direction: column;
    background: var(--bglight);
    padding: 1rem;
}
.emailList input{
    padding: 5px;
margin: .5rem .5rem 0 0;
}
.emailList button {
    margin-top: 1rem;
}
.introImage {
    display: flex;
    background-color: #333;
    width: 40%;
}

.introImageMobile {
    display: none;
    width: 100%;
    padding: 1rem;
}

.button {
    cursor: pointer;
    outline: none;
    border:none;
    background-color: var(--primary);
    padding: .5rem 1rem .5rem 1rem;
    color: white;
}
.footer {
    display: flex;
    height: fit-content;
    align-items: flex-end;
    padding: 1rem;
    color:var(--secondary);
}

@media (max-width: 667px) {
    .header {
        width: 50%;
    }
    .header img {
        object-fit: contain;
    }
    .links {
        display: none;
    }
    .content {
        flex-direction: column;
        padding: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .intro {
        text-align: center;
        width: 100%;
    }
    .introImage {
        display: none;
    }
    .introImageMobile {
        display: block;
    }
    .intro p {
        margin: 1rem 0 1rem 0;
    }
    .emailList {
        width: 100%;
    }
    .emailList input {
        margin: 1rem 0 0 0;
        width: 100%;
    }
    .mobileMenu {
        display:block;
    }
    .mobileNav {
        display: block;
    }
}