
.servicesContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    padding: 4rem;
}
.heading {
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    margin-top: 4rem;
}
.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.services a {
    cursor: default;
    display: flex;
    flex-direction: column;
    height: 16rem;
    width: 100%;
    color: var(--dark);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 2rem;
    box-shadow: var(--box-shadow);
}
.services a span {
    margin-top:1rem;
    font-size: 26px;
}

.serviceText {
display: flex;
justify-content: flex-start;
flex-direction: column;
line-height: 2rem;
margin: 2rem 0 2rem 0;
border-bottom: 1px solid var(--lightgray);
padding: 2rem;
}
.serviceText:last-child {
    border: none;
}
.serviceText:nth-child(3) {
text-align: right;
justify-content: flex-end;
align-items: flex-end;
}
.serviceText h1 {
    line-height: 3rem;
    font-size: 32px;
    color: var(--primary);
    margin-bottom:1rem;
}
.serviceText p {
    width: 50%;
    font-size: 18px;
}
.serviceText ul li {
    font-size: 18px;
    margin-bottom: 1rem;
}
.serviceText ul {
    list-style: disc;
    margin: 2rem;
}

@media (max-width: 667px) {
    .heading {
        margin: 10rem 1rem 1rem 1rem;
        font-size: 24px;
    }

    .servicesContent {
        padding: 1rem;
    }
    .services a {
        font-size: 16px;
        margin: .5rem;
        height: 10rem;
        line-height: 1.5rem;
        text-align: center;
    }
}