
.servicesContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    padding: 4rem;
}
.heading {
    width: 100vw;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    margin-top: 4rem;
}
.services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.services a {
    cursor: default;
    height: 14rem;
    width: 100%;
    background: rgb(86,78,209);
    background: linear-gradient(180deg, rgba(86,78,209,1) 0%, rgba(83,75,203,1) 15%, rgba(32,26,133,1) 100%);
    color: #FFF;
    padding: 2rem;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 2rem;
    box-shadow: var(--box-shadow);
}
.serviceText {
display: flex;
justify-content: flex-start;
flex-direction: column;
line-height: 2rem;
margin: 2rem 0 2rem 0;
border-bottom: 1px solid var(--lightgray);
}
.serviceText:last-child {
    border: none;
}
.serviceText h1 {
    line-height: 3rem;
    font-size: 32px;
    color: var(--primary);
}
.serviceText div {
    font-size: 18px;
}
.serviceText ul li {
    font-size: 18px;
    margin-bottom: 1rem;
}
.serviceText ul {
    list-style: disc;
    margin: 2rem;
}

@media (max-width: 667px) {
    .heading {
        margin: 10rem 1rem 1rem 1rem;
        font-size: 24px;
    }

    .servicesContent {
        padding: 1rem;
    }
    .services a {
        font-size: 16px;
        margin: .5rem;
        height: 10rem;
        line-height: 1.5rem;
        text-align: center;
    }
}