* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    font-weight:300;
    font-size: 14px;
    letter-spacing: .3px;
    scroll-behavior: smooth;
}

:root {
    --primary: var(--violet);
    --violet: #564ed1;
    --secondary: #71717a;
    --lightgray: #e5e7eb;
    --dark: #111827;
    --green: #22c55e;
    --lightblue: #a2d9ff;
    --light: #f3f4f6;
    --lightbg:#f1f5f9;
    --lightgreen: #8ef378;
    --bluegreen: #1cbbb4;
    --lightpink: #f286a0;
    --pink:#e95f62;
    --skyblue: #2aeeff;
    --cerulean: #5580eb;
    --lightpurple: #a34dec;
    --darkpurple: #6e48aa;
    --yellow: #ff8807;
    --gold: #ff8203;
    --orange: #ff6636;
    --rose: #ec4d6f;
    --greenblue: #74dcc4;
    --bluegreen2: #4597e9;
    --box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --bggradient: radial-gradient(circle, rgba(86,78,209,1) 14%, rgba(83,75,203,1) 74%, rgba(71,64,187,1) 100%);
    --pinkgradient: linear-gradient(to right, var(--lightpink), var(--pink));
    --orangegradient: linear-gradient(to right, var(--gold), var(--orange));
    --rosegradient: linear-gradient(to right, var(--rose), var(--orange));
    --purplegradient: linear-gradient(to bottom, var(--violet), rgb(40, 0, 133));
}
a {
    font-size: inherit;
    text-decoration: none;
    color: var(--secondary);
}
a:hover {
    color: var(--primary);
}
a:visited {
    color: var(--secondary);
}
a:visited:hover {
    color: var(--primary);
}
a:active {
    color: var(--primary);
}
.nav {
    padding: 1rem 5rem .5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 6rem;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FFF;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    overflow: hidden;
}
.nav ul li {
    margin-bottom: .5rem;
    font-size: 16px;
}
.nav a:hover {
    color: var(--primary);
}
.nav ul li {
    overflow: hidden;
}
.mobileNav {
    display: none;
    flex-direction: column;
    width: 100vw;
}
.mobileMenu {
    display: none;
    background-image: url("./menu.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }
  .menu li {
    margin: 0 1rem;
  }
  #menu-toggle {
    display: none;
  }
.header {
    width: 250px;
    overflow: hidden;
}
.header img {
    width: 100%;
}
.content {
    min-height: 83vh;
    width: 100vw;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.intro {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.h1 {
    color: var(--primary);
    font-size: 36px;
    line-height: 3rem;
}
.h2 {
    color: var(--primary);
    font-size: 20px;
    line-height: 2rem;
}
.intro p {
    line-height: 2rem;
    font-weight: 300;
    font-size: 20px;
    margin: 1rem 0 2rem 0;
}
.emailList {
    display: flex;
    flex-direction: column;
    width: 70%;
    background: var(--purplegradient);
    color: #FFF;
    border-radius: 10px;
    padding: 1rem;
}
.emailList h1 {
    font-size: 20px;
}
.emailList label {
    font-size: 16px;
    margin: .4rem 0 .4rem 0;
}
.emailList span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.emailList input{
    border: 1px solid var(--secondary);
    border-radius: 5px;
    width: 70%;
    padding: 1rem;
    margin: .5rem .5rem 0 0;
}
.emailList button {
    border-radius: 5px;
    margin: .5rem 0 0 0;
    width: 30%;
    font-size: 14px;
    padding: 1rem;
}
.introImage {
    display: flex;
    width: 55%;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
.introImageMobile {
    display: none;
    width: 100%;
    margin: 2rem .5rem 2rem .5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    object-fit: contain;
}
.introImageMobile video{
    width: 100%;
}
.button {
    cursor: pointer;
    outline: none;
    border:none;
    background: var(--primary);
    padding: .5rem 1rem .5rem 1rem;
    color: white;
}
.confirmEmail {
    font-size: small;
    font-style: italic;
    padding-top: 1rem;
}
.footer {
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    color:var(--secondary);
    background-color: var(--lightbg);
    height: 3rem;
}

@media (max-width: 667px) {
    .nav {
        padding:1rem;
        position:fixed;
        top:0;
    }
    .header {
        width: 50%;
    }
    .header img {
        object-fit: contain;
    }
    .content {
        margin-top: 8rem;
    }
    .h1 {
        font-size: 28px;
        line-height: 3rem;
    }
    .mobileMenu {
        display:block;
    }
    .mobileNav {
        display: block;
    }
    .menu {
        position: fixed;
        top: 75px;
        left: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        display: flex;
        background-color: #FFF;
        height: 0;
        transition: height 400ms;
      }
      .menu li a {
          font-size: 28px;
      }
      .menu li, a {
          height: 0;
          transition: height 400ms;
      }
      #menu-toggle:checked ~ .menu {
        transition: height 400ms;
        height: 40vh;
        padding: 1em;
        background-color: #FFF;
        width: 100vw;
        display: flex;
        border-bottom: 1px solid var(--secondary);
      }
      #menu-toggle:checked ~ .menu li {
          overflow: visible;
          margin-bottom: 1rem;
        height: min-content;
        transition: height 400ms;
      }
    .content {
        flex-direction: column;
        padding: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .intro {
        text-align: center;
        width: 100%;
    }
    .emailList {
        width: 100%;
    }
    .introImage {
        display: none;
    }
    .intro p {
        margin: 1rem 0 1rem 0;
    }
    .introImageMobile {
        display: block;
    }   

}