* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .3px;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

:root {
    --primary: var(--violet);
    --violet: #3c18b3;
    --secondary: #71717a;
    --lightgray: #e5e7eb;
    --dark: #111827;
    --green: #22c55e;
    --lightblue: #a2d9ff;
    --light: #f3f4f6;
    --lightbg: #f1f5f9;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: var(--dark);
}

a:hover {
    color: var(--dark);
}

a:visited {
    color: var(--dark);
}

a:visited:hover {
    color: var(--dark);
}

a:active {
    color: var(--dark);
}

.nav {
    padding: 1rem 10rem .5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 6rem;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #FFF;
    overflow: visible;
    border-bottom: 1px solid var(--dark);
}

.nav ul li {
    margin-bottom: .5rem;
    font-size: 22px;
}

.nav a:hover {
    color: var(--dark);
}

.nav a:hover {
    color: var(--dark);
}

.nav ul li {
    overflow: visible;
}

.mobileNav {
    display: none;
    flex-direction: column;
    width: 100vw;
}

.mobileMenu {
    display: none;
    background-image: url("./menu.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.menu li {
    margin: 0 2rem 2rem 1rem;
}

#menu-toggle {
    display: none;
}

.header {
    width: 220px;
    overflow: hidden;
}

.header img {
    max-width: 200px;
    margin-bottom: .2rem;
}

.content {
    min-height: 83vh;
    width: 100vw;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.intro {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.h1 {
    color: black;
    font-size: 36px;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.h1 a {
    color: var(--primary);
    font-size: 36px;
    line-height: 3rem;
}

.h1 a:hover {
    color: black;
    font-size: 36px;
    line-height: 3rem;
}

.h2 {
    color: var(--primary);
    font-size: 20px;
    line-height: 2rem;
}

.intro p {
    line-height: 2rem;
    font-weight: 300;
    font-size: 16px;
    margin: 1rem 0 2rem 0;
}

.emailList {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 3px;
}

.emailList h1 {
    font-size: 20px;
}

.emailList label {
    font-size: 16px;
    margin: .4rem 0 .4rem 0;
}

.emailList span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.emailList input {
    border: 1px solid var(--secondary);
    border-radius: 3px;
    width: 70%;
    padding: 1rem;
    margin: .5rem .5rem 0 0;
}

.emailList button {
    border-radius: 3px;
    margin: .5rem 0 0 0;
    width: 30%;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.emailList button:hover {
    background-color: rgb(40, 0, 133);
}

.introImage {
    display: flex;
    justify-content: center;
    width: 55%;
}

.introImageMobile {
    display: none;
    width: 100%;
    margin: 2rem .5rem 2rem .5rem;
    object-fit: contain;
}

.introImageMobile video {
    width: 100%;
}

.button {
    cursor: pointer;
    outline: none;
    border: none;
    background: var(--primary);
    padding: .5rem 1rem .5rem 1rem;
    color: white;
}

.confirmEmail {
    font-size: small;
    font-style: italic;
    padding-top: 1rem;
}

.footer {
    display: flex;
    align-items: flex-end;
    padding: 1rem;
    color: var(--secondary);
    background-color: var(--lightbg);
    height: 4rem;
}

@media (max-width: 854px) {
    .nav {
        padding: 1rem;
        position: fixed;
        top: -1px;
    }

    .header {
        width: 220px;
    }

    .header img {
        margin: 0;
    }

    .content {
        margin-top: 8rem;
    }

    .h1 {
        font-size: 28px;
        line-height: 3rem;
    }

    .mobileMenu {
        display: block;
    }

    .mobileNav {
        display: block;
    }

    .menu {
        position: absolute;
        top: 80px;
        left: 0;
        flex-direction: column;
        width: 100vw;
        align-items: flex-start;
        display: flex;
        background-color: #FFF;
        height: 0;
        transition: height 0ms;
    }

    .menu li a {
        font-size: 28px;
    }

    .menu li,
    a {
        height: 0;
        transition: height 0ms;
    }

    #menu-toggle:checked~.menu {
        position: absolute;
        transition: height 0ms;
        height: 25vh;
        background-color: #FFF;
        width: 100vw;
        display: flex;
        box-shadow: 0 4px 8px -1px rgba(179, 179, 179, 0.1), 0 2px 8px -2px rgba(199, 199, 199, 0.1);
    }

    #menu-toggle:checked~.menu li {
        overflow: visible;
        height: min-content;
        transition: height 0ms;
    }

    .content {
        flex-direction: column;
        padding: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .intro {
        text-align: left;
        width: 100%;
    }

    .introImage {
        display: none;
        margin-top: 5rem;
        width: 100%;
    }

    .emailList {
        width: 100%;
    }

    .intro p {
        margin: 1rem 0 1rem 0;
    }

    .introImageMobile {
        display: block;
    }
}