.teamContent {
    min-height: 78vh;
    width: 100vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.teamWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    min-height: 15rem;
    padding: 2rem;
    border-bottom: 1px var(--lightgray) solid;
    margin-bottom: 2rem;
}
.teamWrapper:last-child{
    border-bottom: none;
}
.teamPhoto {
    margin:auto;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    background-repeat: no-repeat;
    width: 14rem;
    height: 14rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.teamBio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 70%;
    padding: 0 1rem 0 1rem;
}
.teamBio span {
    margin-bottom: .5rem;
}
.teamBio p {
    margin-bottom: 1rem;
}
.name {
    font-weight: 500;
    font-size: 16px;
}
.title {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary);
}
.bio {
   color: var(--secondary);
   line-height: 1.5rem;
}
.links {
    padding-top:1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.links img {
    width: 1.7rem;
}
@media (max-width: 667px) {
    .teamContent {
    margin-top: 6rem;
    padding: 0;
    }
    .teamWrapper {
    height: auto;
    flex-direction: column;
    padding: .5rem;
    overflow: visible;
    }
    .teamPhoto {
    height: 12rem;
    width:12rem;
    margin-bottom: 2rem;
    }
.teamBio {
    width: 100%;
    }
}